<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <h3>Se connecter</h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Addresse mail</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">

  </div>

  <button class="button_slide slide_down" [disabled]="form.invalid" type="submit">Envoyer</button>
  <div class="mb-3 form-check">
    <a routerLink="/sign-up">S'enregister</a>
  </div>
</form>
