<button type="button" [ngStyle]="{'margin': '30px'}" class="button_slide slide_left"
  (click)="goBack() ">Retour</button>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <h3>S'enregistrer</h3>
  <div class="mb-3">
    <label for="userName" class="form-label">User name</label>
    <input type="text" class="form-control" id="userName" formControlName="username">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>

  <button [disabled]="form.invalid" type="submit" class="button_slide slide_down">Submit</button>
</form>
