<p>Album</p>
<div *ngIf="album" class="cardS album">

  <div>
    <button type="button" class="button_slide slide_left" (click)="goBack()">Retour</button>
    <h2 class="title">{{ album.titre }}</h2>
    <img [src]="album.pochette" alt="{{ album.titre }}" class="img-fluid mb-3" />
  </div>

  <div class="details">

    <p><strong>Date de sortie:</strong> {{ album.date_sortie }}</p>
    <p><strong>Artiste:</strong> {{ album.artiste.name }}</p>
    <h3>Morceaux:</h3>
    <ul *ngIf="morceaux && morceaux.length">
      <li *ngFor="let morceau of morceaux" class="list-group-item">
        <h5 class="mb-1">- {{ morceau.titre }}</h5>
      </li>
    </ul>
    <p *ngIf="!morceaux || morceaux.length === 0" class="alert alert-info">Il n'y a pas de morceaux pour cet
      album.
    </p>
    <button type="button" class="button_slide slide_down" (click)="openCrateMorceau(album._id)">Ajouter un
      morceau</button>
  </div>
</div>
