<button type="button" class="button_slide slide_right" [ngStyle]="{'margin': '30px', 'with':'100'}"
  (click)="openCreateAlbum()">Créer
  un
  Album</button>

<div class="albums">
  <div *ngFor="let album of listAlbums; index as i;" class="cardS">
    <img [src]="album.pochette" class="card-img-top albumPhoto" alt="...">
    <div class="card-body">
      <div *ngIf="album.liked">Cool! tu aime bien et Output marche 🔝</div>
      <h5 class="card-title">{{album.titre}}</h5>
      <app-like [albumTitre]="album.titre" [album]="album" (likeAlbum)="receiveAlbum($event)"></app-like>
      <div class="albumButtons">
        <button type="button" class="button_slide slide_down" (click)="openAlbumDetail(album.id)">Details</button>
        <button type="button" class="button_slide slide_down" (click)="modifyAlbum(album.id)">Modifier</button>
        <button type="button" class="button_slide slide_down" (click)="deleteAlbum(album.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
