<!-- <app-auth></app-auth> -->
<div class="header">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png"
    alt="">
  <h1>Spotilike</h1>
</div>
<!-- <app-list-album></app-list-album> -->
<!-- <app-details-album></app-details-album> -->
<!-- <app-create-album></app-create-album> -->

<!-- <app-edit-album></app-edit-album> -->

<!-- <router-outlet></router-outlet> -->
<!-- <div *ngIf="!isLog">
  <app-auth></app-auth>
</div>

<div *ngIf="isLog"> -->
<!-- Aquí está el router-outlet para las rutas cuando el usuario está autenticado -->
<router-outlet></router-outlet>
<!-- </div> -->
